<html>

<head>
  <meta charset="UTF-8">
  <title>CryptoPage</title>
  <link rel="stylesheet" href="facts.css" />

</head>

<body>


  <body style="background-color: silver;">
    <img src="https://cryptologos.cc/logos/binance-coin-bnb-logo.png?v=014" alt="logo Binance" width="50px">
    <div class="topnav">
      <a href="cryptopage.html">Events</a>
      <a class="active" href="facts.html">Facts</a>
      <a href="graphs.html">Graphs</a>
      <input type="text" placeholder="Search..">
    </div>
  </body>

  <body>
    <div class="container">
      <h2>Facts</h2>
      <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false">
            <span class="accordion-title">Did you know facts about Bitcoin?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              There's a limit to how many bitcoins can exist in the market: 21 million. As of this moment,
              17 million bitcoins are already in circulation; that means almost 80 percent of the
              21 million have already been mined. But don't worry; until 2140, we will still have bitcoins to mine.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false">
            <span class="accordion-title">How long can you get 1 Bitcoin?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>

              There is currently no way to mine just one bitcoin. Instead, crypto miners will mine one block,
              with the reward currently being set at 6.25 BTC per block. Each block takes 10 minutes to mine.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false">
            <span class="accordion-title">6 Must-Know Facts About Cryptocurrency</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>

              <li> No one knows who created bitcoin.</li>
              <li> Can't be physically banned.</li>
              <li> They are over 5,000 different currencies.</li>
              <li> Chinna is the biggest cryptocurrency miner.</li>
              <li> They're taxable.</li>
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false">
            <span class="accordion-title">What is the fastest growing Cryptocurrency?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              The top five cryptocurrencies with the fastest growth in 2021 are Bitcoin, Chainlink, Cardano, Polkadot,
              and Ethereum.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">How many cryptocurrencies are there 2021?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              How many cryptocurrencies are there? In short, there are nearly over 6,000 as of 2021
              - a severe increase from just a handful of digital coins in 2013.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="footer">
        <div class="footer-heading footer-1">
          <h2>About Us</h2>
          <a href="#">Blog</a>
          <a href="#">Costumers</a>
          <a href="#">Terms Of Service</a>
          <a href="#">Demo</a>
        </div>
        <div class="footer-heading footer-2">
          <h2>Contact Us</h2>
          <a href="#">Support</a>
          <a href="#">Contact</a>
          <a href="#">Social</a>
        </div>
        <div class="footer-heading footer-3">
          <h2>Social Media</h2>
          <a href="#">Instagram</a>
          <a href="#">Facebook</a>
          <a href="#">Youtube</a>
          <a href="#">Twitter</a>
        </div>
        <div class="footer-email-form">
          <h2>Join our newsletter</h2>
          <input type="email" placeholder="Enter your email adress" id="footer-email">
          <input type="submit" placeholder="Sign" id="footer-email-btn">

        </div>
      </div>
    </div>

    <script src="function.js"></script>
  </body>
</body>

</html>

<html lang="en">
</body>

</html>
</body>
</body>

</html>