<html>

<head>
  <meta charset="UTF-8">
  <title>CryptoPage</title>
  <link rel="stylesheet" href="graphs.css" />
</head>

<body>

  <body style="background-color: silver;">
    <img src="https://cryptologos.cc/logos/binance-coin-bnb-logo.png?v=014" alt="logo Binance" width="50px">
    <div class="topnav">
      <a href="cryptopage.html">Home</a>
      <a href="facts.html">Facts</a>
      <a class="active" href="graphs.html">Graphs</a>
      <input type="text" placeholder="Search..">
    </div>
    <div class="widget">
      <!-- Bitcoin Cash (BTC) Price Chart Widget -->
      <div bw-cash="true" class="btcwdgt-chart">
      </div>
      <br>
      <!-- Bitcoin (BTC) Price Chart Widget -->
      <div class="btcwdgt-chart">
      </div>

      <script>
        (function (b, i, t, C, O, I, N) {
          window.addEventListener('load', function () {
            if (b.getElementById(C)) return;
            I = b.createElement(i), N = b.getElementsByTagName(i)[0];
            I.src = t; I.id = C; N.parentNode.insertBefore(I, N);
          }, false)
        })(document, 'script', 'https://widgets.bitcoin.com/widget.js', 'btcwdgt',);

      </script>
    </div>
    </div>
    </div>
    <div class="footer-container">
      <div class="footer">
        <div class="footer-heading footer-1">
          <h2>About Us</h2>
          <a href="#">Blog</a>
          <a href="#">Costumers</a>
          <a href="#">Terms Of Service</a>
          <a href="#">Demo</a>
        </div>
        <div class="footer-heading footer-2">
          <h2>Contact Us</h2>
          <a href="#">Support</a>
          <a href="#">Contact</a>
          <a href="#">Social</a>
        </div>
        <div class="footer-heading footer-3">
          <h2>Social Media</h2>
          <a href="#">Instagram</a>
          <a href="#">Facebook</a>
          <a href="#">Youtube</a>
          <a href="#">Twitter</a>
        </div>
        <div class="footer-email-form">
          <h2>Join our newsletter</h2>
          <input type="email" placeholder="Enter your email adress" id="footer-email">
          <input type="submit" placeholder="Sign" id="footer-email-btn">


        </div>
      </div>
    </div>


    <html lang="en">
  </body>
</body>

</html>